<nav class="nav-bar" aria-label="Main navigation">
    <a routerLink="/board-page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"> <span class="material-icons">emoji_events</span>Classement</a>
    <a routerLink="/score-page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span class="material-icons">edit_document</span>Score</a>
    <a routerLink="/rule-page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span class="material-icons">menu_book</span> Règles</a>
    <a routerLink="/admin-page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span class="material-icons">settings</span> Admin</a>
</nav>

